@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Mulish";
}
body{
    margin: 0;
    padding: 0;
}
/* header */
nav{
    display: flex;
    justify-content: space-evenly;
    gap: 35%;
    padding: 30px 0;
}
.header{
    display: flex;
    gap: 20px;
    font-weight: 800;
    color: #131318;
    font-size: 2.1rem;
}
.travel{
    color: #FF5400;;
}
.header img{
    width: 20%;
}
nav > ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #424247;
}
/* main  section 1*/
.section-1{
    background-image: linear-gradient(rgba(15, 15, 15, 0.7),rgb(78, 78, 78,0.2)), url(../image/Group\ 13\ \(1\)\ \(1\).png);
    max-width: 1600px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}
.greet{
    font-size: 3.5rem;
    color: #fff;
}
.article-1{
    color: #fff;
}
.form-1{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255,0.3);
    padding: 20px 0;
    margin: 0 29%;
    justify-content: center;
}
.icon, .icon-2, .icon-3{
    position: relative;
    display: flex;
    flex-direction: column;
}
/* .icon input{
    padding-right: 70px;
}  */
.icon i{
    position: absolute;
    top:14px;
    right: 20px;
}
.icon-2 i{
    position: absolute;
    top: 14px;
    right: 20px;
}
.icon-3 i{
    position: absolute;
    top: 14px;
    right: 20px;
}
#select{
    width: 120px;
    border: 0;
    border-radius: 8px;
    padding: 15px;
}
.btn-primary{
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background-color: #FF5400;
}
/* section 2 */
.section-2{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    max-width: 1600px;
    margin: auto;
    margin-top: 120px;
}
.article-2{
    padding: 20px;
}
.head-1{
    font-size: 3.1rem;
    font-weight: 800;
    color: #131318;
}
.art-1{
    color: rgba(19, 19, 24, 0.70);
}
.article-2 li{
    color: rgba(19, 19, 24, 0.70);
}
/* section 3 */
.section-3{
    max-width: 1600px;
    margin: auto;
    gap: 30px;
    margin-top: 120px;
}
.article-3{
    text-align: center;
}
.art2{
    color: rgba(19, 19, 24, 0.70);
}
.travel{
    max-width: 1600px;
    display: grid;
    gap: 20px;
}
.travel-img{
    display: flex;
    margin: auto;
    gap: 20px;
}
.travel-img-2{
    display: flex;
    margin: auto;
    gap:20px;
}
.travel-photo{
    display: flex;
    gap: 20px;
}
.travel-1{
    position: relative;
}
.text{
    position: absolute;
    top: 40%;
    left: 39%;
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 10px #222222;
}
.travel img{
    position: relative;
}
/* media mobile */
@media screen and (max-width:576px) {
    /* header section */
    nav{
        flex-direction: column;
        padding: 0 20px;
        justify-content: center;
    }
    .header{
        padding-left: 50px;
    }
    nav > ul{
        padding: 0;

        gap: 15px;
    }
    /* section-1 */
    .section-1{
        background-position: center;
        padding: 5px 5px;
        margin: 0 10px;
    }
    .greet{
        font-size: 1.4rem;
    }
    .form-1{
        display: grid;
        margin: 5px 10px;
    }
    #select{
        width:300px;
    }
    .btn-primary{
        width: 330px;
    }
    /* section 2 */
    .section-2{
        flex-direction: column;
        padding: 10px;
        margin: auto;
    }
    .lvl{
        width: 120px;
    }
    /* section 3 */
    .section-3{
        padding: 10px;
        margin: auto;
    }
    .travel-img{
        flex-direction: column;
    }
    .travel-img-2{
        flex-direction: column;
    }
    .travel-photo{
        flex-direction: column;
    }
    .travel-img img{
        width: 380px;
    }
    .travel-img-2 img{
        width: 380px;
    }
    .text{
        top: 35%;
        left: 35%;
    }
}